$header-bg: stencilColor("header-backgroundColor");
$card-title-color:  stencilColor("card-title-color");
$card-title-color-hover: stencilColor("card-title-color-hover");
$theme-white-color: #ffffff;
$theme-primary-color: stencilColor("stencil-primary-color");

// Fonts
@font-face {
    font-family: 'overpass';
    src: url('../../fonts/overpass-variablefont_wght-webfont.eot');
    src: url('../../fonts/overpass-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/overpass-variablefont_wght-webfont.woff2') format('woff2'),
         url('../../fonts/overpass-variablefont_wght-webfont.woff') format('woff'),
         url('../../fonts/overpass-variablefont_wght-webfont.ttf') format('truetype'),
         url('../../fonts/overpass-variablefont_wght-webfont.svg#overpassregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../../fonts/montserrat-bold-webfont.eot');
    src: url('../../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/montserrat-bold-webfont.woff2') format('woff2'),
        url('../../fonts/montserrat-bold-webfont.woff') format('woff'),
        url('../../fonts/montserrat-bold-webfont.ttf') format('truetype'),
        url('../../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'montserratsemibold';
src: url('../../fonts/montserrat-semibold-webfont.eot');
src: url('../../fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('../../fonts/montserrat-semibold-webfont.woff') format('woff'),
    url('../../fonts/montserrat-semibold-webfont.ttf') format('truetype'),
    url('../../fonts/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'montserratmedium';
src: url('../../fonts/montserrat-medium-webfont.eot');
src: url('../../fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/montserrat-medium-webfont.woff2') format('woff2'),
    url('../../fonts/montserrat-medium-webfont.woff') format('woff'),
    url('../../fonts/montserrat-medium-webfont.ttf') format('truetype'),
    url('../../fonts/montserrat-medium-webfont.svg#montserratmedium') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'montserratregular';
src: url('../../fonts/montserrat-regular-webfont.eot');
src: url('../../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../../fonts/montserrat-regular-webfont.woff') format('woff'),
    url('../../fonts/montserrat-regular-webfont.ttf') format('truetype'),
    url('../../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
font-weight: normal;
font-style: normal;
}


:root{
    --font1: 'montserratregular';
    --font2: 'montserratmedium';
    --font3: 'montserratsemibold';
    --font4: 'montserratbold';
    --btnclr1: #2e3344 ;
}


body.tm__main *{
    font-family: var(--font1) ;
    font-style: normal;
}

.tm__main button , .tm__main a.button ,
.tm__main div[role="button"] {
    border-radius: 0px;
    font-family: var(--font1);
    font-weight: 500;
    // background-color: $theme-primary-color;
    text-transform: capitalize;
}

.tm__main .tm__button ,
.type-default div[class^="alternative-banner-row-"] a.button_link_href {
    border-radius: 0px;
    font-family: var(--font1);
    font-weight: 500;
    text-transform: capitalize;
    color: white;
    background-color: var(--btnclr1);
    border: 1px solid var(--btnclr1);
    padding: 11px 20px;
}

.tm__main .tm__button:hover ,
.type-default div[class^="alternative-banner-row-"] a.button_link_href:hover {
    background-color: white;
    color: var(--btnclr1);
    border: 1px solid var(--btnclr1);
}

.tm__main input ,
.tm__main input:hover ,
.tm__main input:active ,
.tm__main textarea ,
.tm__main textarea:hover ,
.tm__main textarea:active {
    border: 1px solid #dfdfdf;
}


.tm__main  input:-internal-autofill-selected {
    background-color: transparent !important;
}
/* Change autocomplete styles in WebKit */

.tm__main input:-webkit-autofill,
.tm__main input:-webkit-autofill:hover, 
.tm__main input:-webkit-autofill:focus, 
.tm__main input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

// Header
.logo-block .header-logo a:hover{
    color: #ffffff;
}

header .header-inner {
    position: relative;
}

header .header-inner .logo-wrap {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%,-50%);
    width: auto;
    display: flex;
    justify-content: flex-start;
}

header .logo-wrap .header-logo-text {
    text-align: center;
    font-size: 12px;
}

header.header.stuck  .header-left{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

// header.header.stuck  .header-center{
//     width: auto;
// }

header.header.stuck  .header-right {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

header.stuck .navPages-item.sfHover .nav-second-level {
    margin-top: 11px;
}

header.header.stuck{
    border: none;
}

header .header-right li.wishlist a svg{
    fill: #f6f6f6;
}

header .navUser-item--compare .countPill ,
header .navUser-item--cart .countPill {
    top: 15px;
    right: -10px;
    background-color:  white;
}

header .navUser-item--cart .previewCartAction {
    text-align: left;
}

header .navUser-item--cart .previewCartAction-inn{
    display: flex;
    flex-direction: column;
}

header .navUser-item--cart #cart-preview-dropdown .previewCartAction-inn div{
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
}

@media screen and (min-width:450px) {
    header .logo-wrap .header-logo-text {
        font-size: 15px;
    }

    header .header-inner .logo-wrap {
        width: 180px;
    }
}

@media  (min-width:450px) and (max-width:1023px) {
    header .header-inner .logo-wrap {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        justify-content: center;
    }
}

@media (min-width:1023px) and (max-width: 1279px){
    .tm__main header .container{
        max-width: 1000px;   
    }
}

@media (min-width:1400px) {
    .tm__main header .container{
        max-width: 1300px;   
    }
}

@media screen and (min-width:1023px) {
    header .header-inner .logo-wrap{
        top: 25%;
    }

    .header-right{
        position: static !important;
    }

    // header .header-main .header-inner{
    //     flex-wrap: wrap;
    // }

    header .header-main .header-center{
        display: flex;
        // width: 100%;
        // order: 3;
        // justify-content: center;
    }

    .tm__main ul.navPages-list .navPages-item:hover {
        // border-bottom-color: #ffffff;
    }

    #quickSearch.is-open{
        left: 50% !important;
        right: auto !important;
        transform: translate(-50%, -50%);
    }

    .navPages-list  {
        // margin: 10px 0px;
    }

    header .header-main .header-left {
        width: 15%;        
    }

    header .header-main .header-center {
        width: 63%;
    }

    header .header-main .header-right {
        width: 21%;
    }

    .tm__main header .header-inner .navUser-section > li {
        margin: 0 10px;
    }
}


// Search 

#quickSearch{
    background-color: $header-bg;
    width: 900px !important;
    border: 1px solid #ffffff;
    padding: 13px 0px;
    font-style: normal;
}

#quickSearch #search_query ,
#mobileQuickSearchForm #search_query {
    font-style: normal;
}

// Navigation
#headerSidebar  .nav-arrow{
    display: none;
}

// triangle
header .navlist-sub.nav-second-level::before{
    display: none;
}

@media screen and (min-width:1023px) {
    header ul.navPages-list .navPages-item {
        border-bottom: 4px solid transparent;
    }

    header ul.navPages-list .navPages-item:hover{
        border-bottom-color: transparent ;
    }

    header .navlist-sub.nav-second-level {
        margin-top: 4px;
    }
}



// End Header

// Start Common Styles
h1.page-heading{
    font-size: 30px;
    line-height: 1.3;
}

h3.block-title{
    font-size: 20px;
    line-height: 1.6;
}

// End Common Styles 


// Hero banner
.heroCarousel .slick-arrow ,
.heroCarousel .slick-arrow:hover{
    background-color: transparent;
    border: none;
}

.heroCarousel .slick-arrow svg ,
.heroCarousel .slick-arrow:hover svg {
    color: #2e3344 ;
    fill: #2e3344 ;
}

body.type-default .heroCarousel-content{
    // background-color: #ffffff73;
    border-radius: 10px;
    min-width: 70rem;
}

.type-default .heroCarousel .heroCarousel-title ,
.type-default .heroCarousel .heroCarousel-description {
    font-family: var(--font1);
    letter-spacing: normal;
    font-weight: 500;
}

.type-default .heroCarousel .heroCarousel-title ,
.type-default .heroCarousel .heroCarousel-description {
    line-height: 1.4;
}

.type-default .heroCarousel .heroCarousel-description {
    text-transform: none;
}

@media screen and (max-width:768px) {
    body.type-default .heroCarousel-content{
        background: transparent;
    }
}

@media screen and (min-width:992px) {
    .type-default .heroCarousel .heroCarousel-description {
        font-size: 30px;
    }
}

// Slick carousel 

.product-section .page-heading {
    font-weight: 600;
}

.tm__main .productCarousel .slick-arrow svg.product-slick-arrow {
    display: none;
}

.tm__main .productCarousel .slick-arrow svg.product-slick-arrow+svg{
    display: block;
}

.productCarousel.slick-initialized  .slick-arrow {
    top: calc( 50% - 20px );
}

.productCarousel.slick-initialized  .slick-prev {
    left: -10px;
}

.productCarousel.slick-initialized  .slick-next {
    right: 10px;
}

.slick-arrow:hover svg {
    fill: #2e3344;
}

.productCarousel-slide .card-body .price-section--withoutTax ,
.price-block .price-section--withoutTax  ,
.productView-details .productView-price .price-section .price-now-label {
    font-size: 0px;
}

.slick-arrow.slick-disabled:hover svg {
    fill: #b8b8b8;
}

.tm__pdtcard.card .card-figure a.button {
    border-radius: 50%;
}

.tm__pdtcard.card .sale-flag-side {
    top: 0;
    left: 0;
}
.tm__pdtcard.card .card-text.brand-name {
    text-transform: uppercase;
}

.tm__pdtcard.card .card-title{
    text-transform: capitalize;
}

@media screen and (min-width:992px) {
    .productCarousel.slick-initialized  .slick-prev {
        left: -20px;
    }
    
    .productCarousel.slick-initialized  .slick-next {
        right: -20px;
    }
}

@media screen and (min-width:1400px) {
    .productCarousel.slick-initialized  .slick-arrow {
        top: 162px ;  
    }   
}

// Slick carousel 

// Instagram widget
body.type-default .eapps-instagram-feed a.eapps-link {
    display: none !important;
}

body.type-default  .eapps-instagram-feed-container {
    margin-bottom: 30px;
}

body.type-default .eapps-instagram-feed-posts-slider {
    // overflow: visible;
    position: static;
}

body.type-default #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider  .eui-slider-arrow {
    background: transparent;
    z-index: 100;
    visibility: visible;
    opacity: 1;
    width: auto;
    height: 23px;
    box-shadow: none;
}

body.type-default #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider  .eui-slider-arrow:active  {
   transform: translate(50%, -50%);
}

body.type-default #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider  .eui-slider-arrow .eapps-instagram-feed-posts-slider-nav-icon {
    fill: black;
}

body.type-default #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider  .eui-slider-arrow-next svg {
    left: auto;
    right: -15px;
}

body.type-default #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider  .eui-slider-arrow-prev svg {
    right: auto;
    left: -15px;
}

// Quantity box 
// .form-field .form-increment{
//     display: flex;
// }

.form-field.form-field--increments  i.icon  {
    font-size: 16px;
}

.form-field.form-field--increments button.button:hover {
    color: white;
}

.form-field.form-field--increments button.button{
    color: var(--btnclr1);
}

.form-field.form-field--increments  i.icon svg {
    display: none;
}

// Alternate banner
.type-default div[class^="alternative-banner-row-"] a.button_link_href {
    text-transform: capitalize;
}


.tm__main div[class^="sd-simple-text-"] *{
    font-family: var(--font1);
}

// alternate banner 
@media screen and (max-width:768px) {
    body.type-default div[class^="alternative-banner-row-"] .column-right{
        padding-top: 15px;
    }
}

body.type-default div[class^="alternative-banner-row-"] *{
    letter-spacing: normal;
}

// Best sellers
.type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow"] {
    background: transparent;
    opacity: 1  ;
}

.type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow"] path {
    fill: black;
}

// Brand name 
.type-default div[id^="sd-product-set-container-"] .css-1wn6xct {
    margin-top: 22px;
    min-width: 1px;
    min-height: 23px;
    display: block;
    font-size: 14px;
    color: #666666;
}

// pdt name 
.type-default div[id^="sd-product-set-container-"] .css-1clkqco {
    margin: 15px 0px;
    font-size: 14px;
    line-height: 1.3;
}

.type-default div[id^="sd-product-set-container-"] .css-1clkqco a {
    color: $card-title-color;
}

.type-default div[id^="sd-product-set-container-"] .css-1clkqco a:hover{
     color: $card-title-color-hover;
}

//PRice field
.type-default div[id^="sd-product-set-container-"]  .css-1eew03s {
    margin-bottom: 12px;
}

@media screen and (max-width:800px) {
    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow"] {
        top: calc( 50% - 70px );
        width: auto;
        height: auto;
    }

    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow"] svg {
        width: 12px;
        height: 16px;
    }

    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow--left"] {
        left: -10px;
    } 
    
    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow--right"] {
        right: -10px;
    }
}

@media screen and (min-width:800px) {
    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow"] {
        top: 72px;
        width: auto;
    }

    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow--left"] {
        left: -10px;
    } 
    
    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow--right"] {
        right: -10px;
    }
}

@media screen and (min-width:1024px) {
    .type-default div[id^="sd-product-set-container-"] .css-1clkqco {
        font-size: 16px;
    }
}

// Carousel 2
body.type-default div[class^="bc-carousel-"]   div[data-test-id="carousel-title"] p{
    font-weight: 600;
    color: black;
}

body.type-default div[class^="bc-carousel-"] div[data-test-id="carousel-cta-button"] , 
body.type-default div[class^="sd-hero-image-"] div[data-test-id="hero-image-button"]{
    padding: 11px 20px;
    background-color: var(--btnclr1);
    border: 1px solid var(--btnclr1);
}

body.type-default div[class^="bc-carousel-"] div[data-test-id="carousel-cta-button"]:hover ,
body.type-default div[class^="sd-hero-image-"] div[data-test-id="hero-image-button"]:hover {
    background-color: white;
    color: var(--btnclr1);
    border: 1px solid var(--btnclr1);
}

body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--left ,
body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--right  {
    background: transparent;
    width: auto;
    height: auto;
    opacity: 1;
    color: black;
}


body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--left svg,
body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--right svg ,
body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--left svg path,
body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--right svg path {
   width: 12px;
    height: 16px;
    fill: #000;
}

body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--left {
    left: -25px;
}

body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--right{
    right: -25px;
}

body.type-default div[class^="sd-hero-image-"] div[data-test-id="hero-image-title"] p{
    font-weight: 600;
    color: black;
}

.tm__main .page-heading+.page-sub-heading{
    font-size: 16px;
    margin-top: 10px;
}

// Blog 
.type-default .home-blog-post .page-heading {
    font-weight: 600;
    color: black;
}

.type-default .home-blog-list .home-blog-detail {
    padding-left: 0px;
}

//  Newsletter section 
.type-default .newsletter-box {
    position: relative;
    display: flex ;
    justify-content: flex-end;
}

.type-default .home-nl {
    background-color: lightgrey;
    width: 100%;
    padding: 50px;
    margin: 0px;
    background: url('../../img/image\ 11.svg') lightgrey no-repeat top 0px left 0px;
    background-size: cover;
    background-position: center;
}

.type-default .newsletter-box .form-fieldset .subscribeFormContent .button {
    width: auto;
    margin: 0px;
}

.type-default .newsletter-box .form-prefixPostfix .form-input {
    max-width: 300px;
}

.newsletter-box .newswrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-box .newswrapper .textwrap{
    text-align: center;
}

@media screen and (min-width:768px) {
    .type-default .newsletter-box  .newswrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .newsletter-box .newswrapper .textwrap{
        text-align: left;
    }    
}

@media screen and (min-width:1023px) {
    .type-default .home-nl {
        background-size: 100% 100%;
        background-size: contain;
    }
}


// Footer

footer.footer .footer-info-list li{
    padding-left: 0px;
}

footer.footer .footer-info-list li::before{
    display: none;
}

footer .footer-info-heading{
    font-family: var(--font2);
    letter-spacing: normal;
    color: black;
}

footer  .socialLinks  .socialLinks-item::before{
    content: "";
    display: none;
}

.tm__main footer .footer-info .footer-info-col.footer-store-info svg {
    fill: black;
}

.tm__main footer .footer-info .footer-info-col.footer-store-info svg+span{
    color: #000;
}

footer #nl_email {
    border: 1px solid #dfdfdf;
    border-right: none;
}

.tm__main .footer-info-newsletter .form-prefixPostfix .button {
    border: none;
}

.tm__main .footer-info-newsletter .form-prefixPostfix .button:hover {
    border: 1px solid ;
}

.tm__main .footer-info-heading.footer-toggle-title svg {
    right: -5px;
}

.tm__main footer .footer-bar-inn {
    padding-bottom: 0px;
}

.tm__main footer  .payment .footer-info-heading {
    display: none;
}

.footer-payment-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tm__main footer  .payment {
    padding-bottom: 20px;
}

@media screen and (max-width:768px) {
    .tm__main footer .footer-info .footer-info-col.footer-store-info{
        padding: 20px 0px;
    }

    .tm__main footer .footer-info-heading.footer-toggle-title {
        padding:20px 0px;
    }

    .tm__main footer .footer-info .footer-info-col .footer-info--col-inn {
        border: none;
    }

    .tm__main footer .footer-info .footer-info-col{
        border-bottom: 1px solid #CACACA;
        padding: 0px;
    }

    .tm__main footer .footer-info .footer-info-col--social{
        border: none;
        text-align: left;
    }
    
    footer .container .footer-info {
        margin: 0px;
    }

    footer .footer-info-col.footer-store-info {
        padding-bottom: 20px;
        margin: 0;
    }

    .tm__main footer .footer-bar .payment {
        width: 100%;
    }
}

.tm__main #newsletter-popup {
    display: none;
}

// Footer 

// start Sitemap 
body.type-sitemap ol.list-with-arrow , 
body.type-sitemap ol.list-with-arrow li {
    list-style-type: decimal;
    color: black;
}

.tm__main footer .footer-info-inn {
    border-top-width: 0.5px ;
}

.tm__main footer {
    background: darken($theme-white-color, 3%);
}

body.type-sitemap ol.list-with-arrow  ul {
    margin-left: 10px;
    margin-top: 10px;
}

body.type-sitemap  ol.list-with-arrow a {
    font-size: 16px;
    line-height: 1.5;
    color: #2e3344;
}

@media (min-width:768px) and (max-width:992px) {
    body.type-sitemap ul.sitemap-block-main{
        flex-wrap: wrap;
    }

    body.type-sitemap li.sitemap-block{
        flex-basis: 50%;
    }
}
// End Sitemap

// Contact US
.tm__main[class*="contact"] h1.page-heading {
    border: none;
}

#contact-us-page .g-recaptcha > div {
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    #contact-us-page >p {
        color: #444444;
        font-size: 16px;
        line-height: 1.25
    }
}

// Compare 
.tm__main.type-compare * {
    font-family: var(--font1);
}

.type-compare .compareTable .compareTable-row  th:first-child {
    width: auto;
    text-align: left;
}

.type-compare .compareTable .compareTable-row  th:first-child div{
    // width: 200px;
}

.type-compare .compareTable .compareTable-row  .compareTable-product ,
.type-compare .compareTable .compareTable-row .compareTable-action ,
.type-compare .compareTable .compareTable-row .compareTable-item {
    // width: 25%;
}

@import './custom_plp.scss';
@import './custom_account.scss';
@import './custom_cart.scss';