// Fonts
@font-face {
    font-family: 'overpass';
    src: url('../../fonts/overpass-variablefont_wght-webfont.eot');
    src: url('../../fonts/overpass-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/overpass-variablefont_wght-webfont.woff2') format('woff2'),
         url('../../fonts/overpass-variablefont_wght-webfont.woff') format('woff'),
         url('../../fonts/overpass-variablefont_wght-webfont.ttf') format('truetype'),
         url('../../fonts/overpass-variablefont_wght-webfont.svg#overpassregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --font1: 'montserratregular';
    --font2: 'montserratmedium';
    --font3: 'montserratsemibold';
    --font4: 'montserratbold';
    --btnclr1: #2e3344 ;
}


body.tm__main *{
    font-family: var(--font1) ;
}

.tm__main button , .tm__main a.button ,
.tm__main div[role="button"] {
    border-radius: 0px;
    font-family: var(--font1);
    font-weight: 500;
    // background-color: $theme-primary-color;
    text-transform: capitalize;
}

.tm__main .tm__button ,
.type-default div[class^="alternative-banner-row-"] a.button_link_href {
    border-radius: 0px;
    font-family: var(--font1);
    font-weight: 500;
    text-transform: capitalize;
    color: white;
    background-color: var(--btnclr1);
    border: 1px solid var(--btnclr1);
    padding: 11px 20px;
}

.tm__main .tm__button:hover ,
.type-default div[class^="alternative-banner-row-"] a.button_link_href:hover {
    background-color: white;
    color: var(--btnclr1);
    border: 1px solid var(--btnclr1);
}

// Header
.logo-block .header-logo a:hover{
    color: #ffffff;
}

header .header-inner {
    position: relative;
}

header .header-inner .logo-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: auto;
}

header .logo-wrap .header-logo-text {
    text-align: center;
    font-size: 12px;
}

header.header.stuck  .header-left{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

header.header.stuck  .header-center{
    width: 10   0%;
}

header.header.stuck  .header-right {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

header .header-right li.wishlist a svg{
    fill: #f6f6f6;
}

@media screen and (min-width:450px) {
    header .logo-wrap .header-logo-text {
        font-size: 15px;
    }

    header .header-inner .logo-wrap {
        width: 180px;
    }
}

@media screen and (min-width:1023px) {
    header .header-inner .logo-wrap{
        top: 25%;
    }

    .header-right{
        position: static !important;
    }

    header .header-main .header-inner{
        flex-wrap: wrap;
    }

    header .header-main .header-center{
        display: flex;
        width: 100%;
        order: 3;
        justify-content: center;
    }

    #quickSearch.is-open{
        left: 50% !important;
        right: auto !important;
        transform: translate(-50%, -50%);
    }
}


// Search 

#quickSearch{
    background-color: $header-bg;
    width: 900px !important;
    border: 1px solid #ffffff;
    padding: 13px 0px;
    font-style: normal;
}

#quickSearch #search_query ,
#mobileQuickSearchForm #search_query {
    font-style: normal;
}

// Navigation
#headerSidebar  .nav-arrow{
    display: none;
}

// triangle
header .navlist-sub.nav-second-level::before{
    display: none;
}

@media screen and (min-width:1023px) {
    header ul.navPages-list .navPages-item {
        border-bottom: 4px solid transparent;
    }

    header ul.navPages-list .navPages-item:hover{
        border-bottom-color: transparent ;
    }

    header .navlist-sub.nav-second-level {
        margin-top: 4px;
    }
}



// End Header

// Start Common Styles
h1.page-heading{
    font-size: 30px;
    line-height: 1.3;
}

h3.block-title{
    font-size: 20px;
    line-height: 1.6;
}

// End Common Styles 


// Hero banner
.heroCarousel .slick-arrow ,
.heroCarousel .slick-arrow:hover{
    background-color: transparent;
    border: none;
}

.heroCarousel .slick-arrow svg ,
.heroCarousel .slick-arrow:hover svg {
    color: #2e3344 ;
    fill: #2e3344 ;
}

body.type-default .heroCarousel-content{
    background-color: #ffffff73;
    border-radius: 10px;
    min-width: 70rem;
}

.type-default .heroCarousel .heroCarousel-title ,
.type-default .heroCarousel .heroCarousel-description {
    font-family: var(--font1);
    letter-spacing: normal;
    font-weight: 500;
}

.type-default .heroCarousel .heroCarousel-title ,
.type-default .heroCarousel .heroCarousel-description {
    line-height: 1.4;
}

.type-default .heroCarousel .heroCarousel-description {
    text-transform: none;
}

@media screen and (max-width:768px) {
    body.type-default .heroCarousel-content{
        background: transparent;
    }
}

@media screen and (min-width:992px) {
    .type-default .heroCarousel .heroCarousel-description {
        font-size: 30px;
    }
}

// Slick carousel 

.product-section .page-heading {
    font-weight: 600;
}

.productCarousel.slick-initialized  .slick-arrow {
    top: calc( 50% - 20px );
}

.productCarousel.slick-initialized  .slick-prev {
    left: -10px;
}

.productCarousel.slick-initialized  .slick-next {
    right: 10px;
}

.slick-arrow:hover svg {
    fill: #2e3344;
}

.productCarousel-slide .card-body .price-section--withoutTax ,
.price-block .price-section--withoutTax  ,
.productView-details .productView-price .price-section .price-now-label {
    font-size: 0px;
}

.slick-arrow.slick-disabled:hover svg {
    fill: #b8b8b8;
}

.tm__pdtcard.card .card-figure a.button {
    border-radius: 50%;
}

@media screen and (min-width:992px) {
    .productCarousel.slick-initialized  .slick-prev {
        left: -20px;
    }
    
    .productCarousel.slick-initialized  .slick-next {
        right: -20px;
    }
}

@media screen and (min-width:1400px) {
    .productCarousel.slick-initialized  .slick-arrow {
        top: 162px ;  
    }   
}

// Slick carousel 

// Instagram widget
body.type-default .eapps-instagram-feed a.eapps-link {
    display: none !important;
}

body.type-default  .eapps-instagram-feed-container {
    margin-bottom: 30px;
}

body.type-default .eapps-instagram-feed-posts-slider {
    // overflow: visible;
    position: static;
}

body.type-default #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider  .eui-slider-arrow {
    background: transparent;
    z-index: 100;
    visibility: visible;
    opacity: 1;
    width: auto;
    height: 23px;
    box-shadow: none;
}

body.type-default #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider  .eui-slider-arrow:active  {
   transform: translate(50%, -50%);
}

body.type-default #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider  .eui-slider-arrow .eapps-instagram-feed-posts-slider-nav-icon {
    fill: black;
}

body.type-default #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider  .eui-slider-arrow-next svg {
    left: auto;
    right: -15px;
}

body.type-default #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider  .eui-slider-arrow-prev svg {
    right: auto;
    left: -15px;
}

// Quantity box 
// .form-field .form-increment{
//     display: flex;
// }

// Alternate banner
.type-default div[class^="alternative-banner-row-"] a.button_link_href {
    text-transform: capitalize;
}


.tm__main div[class^="sd-simple-text-"] *{
    font-family: var(--font1);
}

// alternate banner 
@media screen and (max-width:768px) {
    body.type-default div[class^="alternative-banner-row-"] .column-right{
        padding-top: 15px;
    }
}

body.type-default div[class^="alternative-banner-row-"] *{
    letter-spacing: normal;
}

// Best sellers
.type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow"] {
    background: transparent;
    opacity: 1  ;
}

.type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow"] path {
    fill: black;
}

// Brand name 
.type-default div[id^="sd-product-set-container-"] .css-1wn6xct {
    margin-top: 22px;
    min-width: 1px;
    min-height: 23px;
    display: block;
    font-size: 14px;
    color: #666666;
}

// pdt name 
.type-default div[id^="sd-product-set-container-"] .css-1clkqco {
    margin: 15px 0px;
    font-size: 14px;
    line-height: 1.3;
}

.type-default div[id^="sd-product-set-container-"] .css-1clkqco a {
    color: $card-title-color;
}

.type-default div[id^="sd-product-set-container-"] .css-1clkqco a:hover{
     color: $card-title-color-hover;
}

//PRice field
.type-default div[id^="sd-product-set-container-"]  .css-1eew03s {
    margin-bottom: 12px;
}

@media screen and (max-width:800px) {
    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow"] {
        top: calc( 50% - 70px );
        width: auto;
        height: auto;
    }

    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow"] svg {
        width: 12px;
        height: 16px;
    }

    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow--left"] {
        left: -10px;
    } 
    
    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow--right"] {
        right: -10px;
    }
}

@media screen and (min-width:800px) {
    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow"] {
        top: 72px;
        width: auto;
    }

    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow--left"] {
        left: -10px;
    } 
    
    .type-default div[id^="sd-product-set-container-"] button[class*="sd-product-set__arrow--right"] {
        right: -10px;
    }
}

@media screen and (min-width:1024px) {
    .type-default div[id^="sd-product-set-container-"] .css-1clkqco {
        font-size: 16px;
    }
}

// Carousel 2
body.type-default div[class^="bc-carousel-"]   div[data-test-id="carousel-title"] p{
    font-weight: 600;
    color: black;
}

body.type-default div[class^="bc-carousel-"] div[data-test-id="carousel-cta-button"] , 
body.type-default div[class^="sd-hero-image-"] div[data-test-id="hero-image-button"]{
    padding: 11px 20px;
    background-color: var(--btnclr1);
    border: 1px solid var(--btnclr1);
}

body.type-default div[class^="bc-carousel-"] div[data-test-id="carousel-cta-button"]:hover ,
body.type-default div[class^="sd-hero-image-"] div[data-test-id="hero-image-button"]:hover {
    background-color: white;
    color: var(--btnclr1);
    border: 1px solid var(--btnclr1);
}

body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--left ,
body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--right  {
    background: transparent;
    width: auto;
    height: auto;
    opacity: 1;
    color: black;
}


body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--left svg,
body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--right svg ,
body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--left svg path,
body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--right svg path {
   width: 12px;
    height: 16px;
    fill: #000;
}

body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--left {
    left: -25px;
}

body.type-default div[class^="bc-carousel-"] button.bc-carousel__arrow--right{
    right: -25px;
}

body.type-default div[class^="sd-hero-image-"] div[data-test-id="hero-image-title"] p{
    font-weight: 600;
    color: black;
}

// Blog 
.type-default .home-blog-post .page-heading {
    font-weight: 600;
    color: black;
}

.type-default .home-blog-list .home-blog-detail {
    padding-left: 0px;
}




// Footer 

footer.footer .footer-info-list li{
    padding-left: 0px;
}

footer.footer .footer-info-list li::before{
    display: none;
}

footer .footer-info-heading{
    font-family: var(--font2);
    letter-spacing: normal;
    color: black;
}

.tm__main footer .footer-info .footer-info-col.footer-store-info svg {
    fill: black;
}

.tm__main footer .footer-info .footer-info-col.footer-store-info svg+span{
    color: #000;
}

@media screen and (max-width:768px) {
    .tm__main footer .footer-info .footer-info-col.footer-store-info{
        padding: 20px 0px;
    }

    .tm__main footer .footer-info-heading.footer-toggle-title {
        padding:20px 0px;
    }

    .tm__main footer .footer-info .footer-info-col .footer-info--col-inn {
        border: none;
    }

    .tm__main footer .footer-info .footer-info-col{
        border-bottom: 1px solid #CACACA;
        padding: 0px;
    }
    
    footer .container .footer-info {
        margin: 0px;
    }

    footer .footer-info-col.footer-store-info {
        padding-bottom: 20px;
        margin: 0;
    }
}

// Footer 

// start Sitemap 
body.type-sitemap ol.list-with-arrow , 
body.type-sitemap ol.list-with-arrow li {
    list-style-type: decimal;
    color: black;
}


body.type-sitemap ol.list-with-arrow  ul {
    margin-left: 10px;
    margin-top: 10px;
}

body.type-sitemap  ol.list-with-arrow a {
    font-size: 16px;
    line-height: 1.5;
    color: #2e3344;
}

@media (min-width:768px) and (max-width:992px) {
    body.type-sitemap ul.sitemap-block-main{
        flex-wrap: wrap;
    }

    body.type-sitemap li.sitemap-block{
        flex-basis: 50%;
    }
}
// End Sitemap

@import './plp.scss';