:root{
    --font1: 'montserratregular';
    --font2: 'montserratmedium';
    --font3: 'montserratsemibold';
    --font4: 'montserratbold';
    --btnclr1: #2e3344 ;
}

.body .container.category {
    width: 100%;
    max-width: 100%;
}

.contentwrap {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    transform: translateY(-50%);
}

.type-category .category-banner-section .category-left-section {
    padding: 0px;
    position: relative;
}

.type-category .category-banner-section .category-left-section img {
    width: 100%;
    height: auto;
}

.type-category .contentwrap .page-heading {
    font-family: var(--font2);
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 10px;
}

.type-category .contentwrap .page-heading ~ p {
    font-size: 18px;
    line-height: 1.4;
}

.type-category .actionBar-main .form-fieldset .form-field {
    border: none;
}

.type-category .actionBar-main .form-fieldset .form-field .form-select {
    border: 1px solid #CACACA;
}
.type-category  aside.page-sidebar div {
    border: none;
}

.type-category aside.page-sidebar .navList {
    margin-left: 10px;
}

.type-category aside.page-sidebar .accordion-block ,
.type-category aside.page-sidebar .sidebarBlock.mob-hide  ,
#facetedSearch .sidebarBlock{
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 0.5px solid #CACACA;
}

.type-category aside.page-sidebar {
    padding-left: 0px;
}

.type-category aside.page-sidebar .icon.accordion-indicator {
    fill: black;
}

@media screen and (max-width:768px) {
    .body .container.category {
        padding: 0px;
    }
}

.category-banner-section ~ .page.container {
    margin: 0 auto;
}
